body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/* lacasa(11) starts */
nav.lacasa {
  width: 100%;
  height: auto;
  background: rgba(37, 20, 99, 0.644);
}
nav.lacasa ul {
    height: inherit;
    display: flex;
    align-items: center;
    list-style-type: none;
}
nav.lacasa ul >* {
    flex: 1;
    padding: 30px 0px;
}
nav.lacasa ul li.logo {
    flex: 3;
}
nav.lacasa ul a {
    color: white;
    text-decoration: none;
}
nav.lacasa ul li.trigram {
   display: none;
}
/* lacasa(11) ends */

/* capture(12) start */

nav.capture {
  background-color: rgb(13, 150, 13);
  display: flex;
  height: 86px;
  justify-content: center;
  align-items: center;
}
nav.capture .logo,
.social {
  flex: 1;
  text-align: center;
}
nav.capture .menu {
  flex: 3;
}
nav.capture .menu ul {
  display: flex;
  justify-content: center;
}
nav.capture .social ul {
  display: flex;
  justify-content: space-evenly;
}
nav.capture .menu ul li {
  padding: 010px;
}
nav.capture .menu ul,
nav.capture .social ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav.capture .social > * {
  margin: 5px;
}
/* 
capture(12) ends */
/* sublime(13) starts */
header.sublime {
  height: 100%;
  position: absolute;
  background: url("./img/billboard.jpg") no-repeat bottom;
  width: 100%;
  flex-direction: column;
  background-size: cover;
}
nav.sublime {
  background-color: transparent;
  display: flex;
  height: 86px;
  justify-content: center;
  align-items: center;
}
nav.sublime .logo {
  flex: 2;
  text-align: center;
}
nav.sublime .menu {
  flex: 5;
  text-align: center;
}
nav.sublime ul {
  list-style-type: none;
  margin-left: 163px;
}
nav.sublime ul li {
  margin: 0 10px;
  display: inline;
}
nav.sublime ul li a {
  text-decoration: none;
  color: white;
}
/* sublime(13) ends */

@media screen and (max-width: 640px) {
  /* lacasa(11) starts */
  nav.lacasa ul li.trigram {
    position: absolute;
    top: 0;
    right: 4%;
    display: block;
}
nav.lacasa ul {
  flex-direction: column;
}
nav.lacasa ul li.menu {
    display: none;
}
/* lacasa(11) ends */
}
